[Desktop Entry]
Version=1.0
Type=Link
Name=Walkthrough
URL=https://franc205.notion.site/Charla-Pivoting-f4101bdaa31b4dbca588907017c17634?pvs=4
Icon=text-html
