[Desktop Entry]
Version=1.0
Type=Link
Name=Walkthrough_EN
URL=https://franc205.notion.site/ENGLISH-From-Network-to-Network-Hands-On-Pivoting-Techniques-in-Internal-Environments-de5fdd40e9fc4fc584f25cb584fa1127#cdaed7fbf2f144d3bfff2743677e7cbe
Icon=text-html
